<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
	<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">Turismo de David</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./index.html">Bienvenido <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ViajesTurismo.html">Lugares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./paquetes.html">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./AcercadeTurismo.html">Aacerca de</a>
        </li>
      </ul>
    </div>
  </nav>
	<div class="container" style="margin-left: 40%; margin-top: 50px;">
  <div id="exercise">
<h4>Lugares</h4>
	<template v-if="ok">
  <p>V</p>
  <p>Párrafo 2</p>
</template>


		
<script src="script.js"> </script>
	<h1>Turismo de David</h1>
	<p>Hola</p>
	

	<div id="app-2">
  <span v-bind:title="message">
    Mira a esta hora se cargo la página.
  </span>
		<script src="script.js"> </script>
</div>


<div id="apex">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Mostrar/Ocultar</button>
<p v-if="!isHidden">Monterrey</p>
<p v-if="isHidden">La ciudad de la carne asada de dudosa calidad y mal transporte publico.
	<img style="width:640px;height:400px" src="https://www.milenio.com/uploads/media/2021/09/22/lluvias-monterrey-provocan-memes-redes.jpeg">
</div>
</p>
</div>	

<div id="apex1">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Mostrar/Ocultar</button>
<p v-if="!isHidden">Saltillo</p>
<p v-if="isHidden">Como Monterrey pero sin tanto dinero y buen transporte publico 
<img style="width:640px;height:400px" src="https://pbs.twimg.com/media/DpltY9wV4AA22op.jpg">
</div>
</p>
</div>	

<div id="apex2">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Mostrar/Ocultar</button>
<p v-if="!isHidden">Ixtapa</p>
<p v-if="isHidden">Muy buenas playas y con muchos mercados y buena comida
<img style="width:640px;height:400px" src="https://cdn.memegenerator.es/imagenes/memes/full/4/44/4449640.jpg">
</div>
</p>
</div>	

		<div id="apex3">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Mostrar/Ocultar</button>
<p v-if="!isHidden">Cancun</p>
<p v-if="isHidden">buena playa, mucha cultura, un lugar muy bonito para vacacionar 
<img style="width:640px;height:400px" src="https://pbs.twimg.com/media/BscxNQ7IcAA77Bz.jpg">	
		</div>
</p>
</div>	

<div id="apex4">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Mostrar/Ocultar</button>
<p v-if="!isHidden">Los Angeles</p>
<p v-if="isHidden">Un lugar con muchos vagabundos y precios muy caros.
<img style="width:640px;height:400px" src="https://pm1.narvii.com/6740/59d1cf7db8e6f6c67735740f04a83e3b5823f63fv2_00.jpg">
</div>
</p>
</div>	
		

<script src="script.js"> </script>


		<div id="Instrum">
	<h4>Seleccionar ciudad o todas en caso de activar todos los memes(up paquete por ciudad el precio aumentará )</h4>
<button v-on:click="di('Ciudad seleccionada.Reto: Sobrevive durante el viaje')">Elegir</button>
</div>	
<script src="script.js"> </script>
		
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		
  </body>
</html>